<h1>All users</h1>
<div class="row">
  <div class="col-4 offset-4">
    <% @users.each do |user| %>
      <div class="card bg-light mb-3 text-center mr-4" style="max-width: 18rem;">
        <div class="card-header"><%=link_to user.username, user_path(user)%></div>
        <div class="card-body">
          <%= link_to gravatar_for(user), user_path(user) %>
          <p class="card-text"><small><%= pluralize(user.articles.count, "article") if user.articles%></small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
