<h1><%= "Category: " + @category.name %></h1>
<div class="row d-flex justify-content-around">
    <div class="col">
        <%= will_paginate @category_articles %>
        <%= render 'articles/list_articles',obj: @category_articles%>
        <%= will_paginate @category_articles%>
    </div>
</div>